<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учебный журнал</title>
    <a href="{% url 'learning_logs:index' %}">Учебный журнал</a>
    <a href="{% url 'learning_logs:topics' %}">Темы</a>
    {% if user.is_authenticated %}
        Привет, {{ user.username }}.
        <a href="{% url 'users:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'users:login' %}">Войти</a>
        <a href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
</head>
{% block content %}{% endblock content %}
<body>
</body>
</html>