{% extends 'learning_logs/base.html' %}
{% block content %}
  <p>Редактировать тему.</p>
  <form action="{% url 'learning_logs:edit_topic' topic.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Применить</button>
  </form>
{% endblock content %}