{% extends 'learning_logs/base.html' %}
{% block content %}
<p>Добавить новую тему</p>
<form action="{% url 'learning_logs:new_topic' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Создать тему</button>
</form>
{% endblock content %}
