{% extends 'learning_logs/base.html' %}
{% block content %}
  <p>Введите запись</p>
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Сохранить</button>
  </form>
{% endblock content %}