{% extends 'learning_logs/base.html' %}
{% block content %}
    <ul>
        {% for topic in topics %}
            <li><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.title }}</a></li>
        {% endfor %}
    </ul>
<a href="{% url 'learning_logs:new_topic' %}">Добавить тему</a>
{% endblock content %}