{% extends 'learning_logs/base.html' %}
{% block content %}
    <p>{{ topic.title }}</p>
    <p>{{ topic.description }}</p><br>
    <p>
    <a href="{% url 'learning_logs:edit_topic' topic.id %}">Редактировать тему</a>
    </p>
    <p>Записи по теме:</p><br>
    <ul>
        {% for entry in topic.entry_set.all %}
            <li>{{ entry.text }}</li>
            <ul>
                <p>Комментарии:</p>
                {% for comment in entry.comment_set.all %}
                    <li>{{ comment.text }}</li>
                {% endfor %}<br>
            </ul>
        {% empty %}
            <li>Нет записей по данной теме.</li>
        {% endfor %}
    </ul>
<a href="{% url 'learning_logs:new_entry' topic.id %}">Добавить запись</a>
{% endblock content %}