{% extends 'learning_logs/base.html' %}
{% block content %}
  {% if form.errors %}
    <p>Вы ввели неверный логин и пароль. Повторите ещё раз.</p>
  {% endif %}
  <form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Войти</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>
{% endblock content %}
