{% extends 'learning_logs/base.html' %}
{% block content %}
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Зарегистрироваться</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" >
    </form>
{% endblock content %}